.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
.tmp/

backend/backend-start*.log
backend/.env
admin_panel/.env
admin_panel/staticfiles/

frontend/react_app/.env
frontend/react_app/node_modules/
frontend/react_app/dist/
